/*Telas com 1033 de largura*/

@media (max-width: 1033px) {
  #sidebar {
    display: none;
  }
  body .header-search{
    margin-left: 10px;
  }
  body main {
    margin-left: 10px;
    width: calc(100vw - 20px);
  }
  body header {
    width: 100%;
    margin-left: 0;
  }
  .header-arrows {
    display: none;
  }
  body #hamburguer {
    display: block;
  }
  body #hamburguer.active span:nth-child(2) {
    opacity: 0;
  }
  body #hamburguer.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  body #hamburguer.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #sidebar.active {
    display: block;
    margin-top: 70px;
    border-radius: 0px;
    overflow-y: scroll;
  }
  body .library {
    border-radius: 0;
    margin-top: 0;
  }
  body .cookies ul {
    list-style: none;
  }
}
/*Telas com 860 de largura*/

@media (max-width: 860px) {
  body #cards-container div {
    height: 12rem;
    width: 12rem;
  }
}
/*Telas com 524 de largura*/
@media (max-width: 524px) {
  body #cards-container div {
    height: 8rem;
    width: 8rem;
  }
  body .login {
    padding: 15px 25px;
  }
}
/*Telas com 515 de largura*/
@media (max-width: 515px) {
  body #cards-container div {
    height: 6rem;
    width: 6rem;
  }
  body .login {
    padding: 10px 20px;
  }
  body .subscribe a {
    margin-left: 10px;
    font-size: 10px;
  }
  body .header-search {
    width: 30%;
  }
  body footer {
    display: none;
  }
}
/*Telas com 420 de largura*/
@media (max-width: 420px) {
  body #cards-container div {
    height: 5rem;
    width: 5rem;
  }
  body .login {
    padding: 8px 10px;
  }
}
/*Telas com 281 de largura*/

@media (max-width: 281px) {
  body #cards-container div {
    height: 5rem;
    width: 5rem;
  }
  body .login{
    padding: 3px 5px;
  }
  body .header-search{
    margin-left: 10px;
  }
  body #sidebar{
    width: 280px;
  }
}
/*Telas com 856 de altura*/

@media (max-height: 856px) {
  body #sidebar {
      overflow-y: scroll;
  }
}
/*Telas com 709 de altura*/
@media (max-height: 709px) {
  body .container-playlist {
      height: 30%;
      overflow-y: scroll;
  }
}