* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: black;
}
::-webkit-scrollbar-track {
  background-color: #121212; /* Cor da trilha */
}
::-webkit-scrollbar-thumb {
  background-color: #b3b3b3; /* Cor da "thumb" */
  border-radius: 8px; /* Borda arredondada da "thumb" */
}
::-webkit-scrollbar {
  width: 12px; /* Largura do scrollbar */
}
/*Header Style*/
header {
  width: calc(100% - 315px);
  margin-left: 300px;
  overflow-x: hidden;
}
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  background-color: #121212;
}
#header-arrows {
  display: flex;
  align-items: center;
  gap: 20px;
}
#arrow-left {
  margin-right: 1.25rem;
}
.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#header-search {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 364px;
  height: 48px;
  margin-left: 8px;
  background-color: #242424;
  border-radius: 500px;
  border: 1px solid transparent;
}
#header-search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
#header-search input {
  background: transparent;
  border: none;
  padding: 0 100px 0 12;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

#subscribe {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  margin-right: 32px;
  border: none;
  cursor: pointer;
}
#login {
  width: 100px;
  height: 48px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
#hamburguer {
  display: none;
}

#hamburguer span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
/*Estilo sidebar*/

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px 10px;
  width: 300px;
}

#sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}
#logo-spotify img {
  width: 80px;
}
#sidebar__navigation ul {
  margin-top: 20px;
  padding: 0 30px 10px 20px;
}
#sidebar__navigation ul li {
  padding: 15px 0;
}
#sidebar__navigation ul li a {
  display: flex;
  text-align: center;
  gap: 10px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
#library {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  height: 100%;
}
#library__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
#library__btn {
  color: #b3b3b3;
  background-color: transparent;
  border: none;
  font-weight: 700;
}
#library__btn a {
  display: flex;
  color: #b3b3b3;
  text-decoration: none;
  gap: 10px;
  font-size: 20px;
}
#plus {
  font-size: 10px;
}
#plus a {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #b3b3b3;
}
#section__playlist {
  margin: 8px 0px;
  padding: 16px 20px;
  background-color: rgb(49, 49, 49);
  border-radius: 8px;
}
#section-playlist__content {
  display: flex;
  flex-direction: column;
}

#section-playlist__content .text {
  padding-bottom: 14px;
  color: white;
}
#section-playlist__content .title {
  font-weight: 700;
}
#section-playlist__content .subtitle {
  font-weight: 500;
  font-size: 12px;
}
#playlist__btn {
  background-color: white;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 113px;
  margin-top: 12px;
}
#playlist__btn a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
#cookies {
  margin: 25px 20px;
}
#cookies a {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 8px;
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 500;
  font-size: 10px;
}
#languages__btn {
  background-color: transparent;
  border: 1px solid #878787;
  cursor: pointer;
  align-items: center;
  width: 170px;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
}
#languages__btn a {
  display: flex;
  text-align: center;
  gap: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/*Estilo Main*/
main {
  background-color: #121212;
  height: calc(100vh - 116px);
  width: calc(100vw - 332px);
  margin-left: 310px;
  margin-right: 56px;
  border-radius: 8px;
  overflow-y: hidden;
}
#welcome-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#welcome-main h1 {
  margin: 30px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
#welcome-main h2 {
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
/* Section cards*/
#playlist-artists-container {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
#cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

#cards-container div {
  width: 15rem;
  height: 15rem;
}
#cards-container div a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
#cards-container .card1 {
  background-image: url(../assets/playlist/1.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card2 {
  background-image: url(../assets/playlist/2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card3 {
  background-image: url(../assets/playlist/3.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card4 {
  background-image: url(../assets/playlist/4.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card5 {
  background-image: url(../assets/playlist/5.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card6 {
  background-image: url(../assets/playlist/6.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card7 {
  background-image: url(../assets/playlist/7.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card8 {
  background-image: url(../assets/playlist/8.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card9 {
  background-image: url(../assets/playlist/9.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card10 {
  background-image: url(../assets/playlist/10.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card11 {
  background-image: url(../assets/playlist/11.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card12 {
  background-image: url(../assets/playlist/12.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card13 {
  background-image: url(../assets/playlist/13.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card14 {
  background-image: url(../assets/playlist/14.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card15 {
  background-image: url(../assets/playlist/15.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 300px;
}

/* Artistas*/

.artist {
  --column-count: 5;
  --grid-gap: 24px;
  --min-container-width: 372px;
}

.hidden {
  display: none;
}

.grid-container {
  grid-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  min-width: var(--min-container-width);
}

.artist-card {
  background: #181818;
  border-radius: 8px;
  -ms-flex: 1;
  flex: 1;
  isolation: isolate;
  padding: 16px;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
}

.artist-card:hover {
  background-color: #252525;
}

.card-img {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 62px;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 16px;
  font-weight: 700;
  padding-block-end: 8px;
}

.artist-categorie {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.875rem;
}

.play {
  position: relative;
}

.play .playicon {
  position: absolute;
  right: 10px;
  top: 50px;
  padding: 5px;
  background-color: #1db954;
  border-radius: 100%;
  font-size: 14px;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .playicon {
  opacity: 1;
  transform: translateY(-20px);
}

.play .playicon:hover {
  padding: 10px;
  cursor: pointer;
}

#result-artist {
  padding: 20px 40px;
}
/*Estilo Footer da pagina*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
footer h1 {
  color: white;
  font-weight: bold;
  margin: 8px;
}
footer p {
  color: white;
  margin: 8px;
}
footer button {
  display: flex;
  align-items: center;
  border: none;
  padding: 15px 15px;
  border-radius: 20px;
  margin-right: 50px;
}
footer button a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
