* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: black;
  font-family: "DM Sans", sans-serif;
}
::-webkit-scrollbar-track {
  background-color: transparent; /* Cor da trilha */
}
::-webkit-scrollbar-thumb {
  display: none;
  background-color: #b3b3b3; /* Cor da "thumb" */
  border-radius: 8px; /* Borda arredondada da "thumb" */
}
::-webkit-scrollbar {
  width: 0px; /* Largura do scrollbar */
}
/*Header Style*/
header {
  width: calc(100vw - 315px);
  margin-left: 310px;
  overflow-x: hidden;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  background-color: #121212;
}
.header-search {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 364px;
  height: 48px;
  border-radius: 25px;
  background-color: #242424;
}
.header-search input {
  background-color: transparent;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  color: white;
}
.header-search img {
  width: 16px;
  margin-left: 10px;
}
.header-btn {
  display: flex;
  gap: 30px;
}
.subscribe {
  background-color: transparent;
  border: none;
}
.subscribe a {
  transition: 1s;
  font-size: 15px;
  color: #b3b3b3;
  font-weight: bold;
}
.login {
  transition: 1s;
  padding: 15px 50px;
  border-radius: 25px;
  border: none;
}
#hamburguer {
  display: none;
}

#hamburguer span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
/* Estilização do sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px 10px;
  width: 319px;
  height: 100vh;
}
.sidebar-navigation {
  background-color: #121212;
  width: 300px;
  padding: 16px 0 0 16px;
  border-radius: 8px;
}
.spotify-logo img {
  width: 80px;
}
.sidebar-navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.sidebar-navigation li a {
  display: flex;
  text-align: center;
  gap: 20px;
  font-size: 16px;
  padding: 15px 0;
  color: #b3b3b3;
  font-weight: bold;
}
.library {
  background-color: #121212;
  margin-top: 15px;
  border-radius: 8px;
  height: 100%;
  padding: 0 10px;
}
.library-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
}
.library-content button {
  background-color: transparent;
  border: none;
}
.library-content button a {
  display: flex;
  gap: 10px;
  font-weight: bold;
  color: #b3b3b3;
  font-size: 20px;
}
.plus a {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #b3b3b3;
}
.playlist-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #242424;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}
.playlist-texts {
  color: white;
}
.playlist-texts h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.playlist-container button {
  width: 130px;
  padding: 10px 5px;
  border-radius: 20px;
  border: none;
}
.playlist-container button a {
  color: black;
}
.cookies ul li a {
  color: #b3b3b3;
  font-size: 12px;
  padding: 0 15px;
}
.language-btn {
  background-color: transparent;
  border: 1px solid #878787;
  border-radius: 20px;
  padding: 10px 5px;
  margin-left: 12px;
  margin-top: 20px;
}
.language-btn a {
  display: flex;
  text-align: center;
  gap: 10px;
  color: white;
  padding: 5px;
  font-weight: bold;
}
/*Main Style*/
main {
  background-color: #121212;
  height: calc(100vh - 116px);
  width: calc(100vw - 335px);
  margin-left: 320px;
  border-radius: 8px;
  overflow-y: hidden;
}

.welcome-main {
  display: flex;
  flex-direction: column;
}
.welcome-main h1 {
  margin: 30px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.welcome-main p {
  margin-left: 30px;
  color: white;
}
.welcome-main h2 {
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.cards-artists-container {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
#cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
#cards-container div {
  width: 15rem;
  height: 15rem;
  border-radius: 8px;
}
#cards-container .card1 {
  background-image: url(../assets/playlist/1.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card2 {
  background-image: url(../assets/playlist/2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card3 {
  background-image: url(../assets/playlist/3.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card4 {
  background-image: url(../assets/playlist/4.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card5 {
  background-image: url(../assets/playlist/5.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card6 {
  background-image: url(../assets/playlist/6.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card7 {
  background-image: url(../assets/playlist/7.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card8 {
  background-image: url(../assets/playlist/8.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card9 {
  background-image: url(../assets/playlist/9.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card10 {
  background-image: url(../assets/playlist/10.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card11 {
  background-image: url(../assets/playlist/11.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card12 {
  background-image: url(../assets/playlist/12.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card13 {
  background-image: url(../assets/playlist/13.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card14 {
  background-image: url(../assets/playlist/14.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card15 {
  background-image: url(../assets/playlist/15.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 350px;
}
.artists-container {
  width: 200px;
}

.hidden {
  display: none;
}

.artist-card {
  background: #181818;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  transition: 0.3s ease;
  width: 100%;
}

.artist-card:hover {
  background-color: #252525;
}

.card-img {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 62px;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 16px;
  font-weight: 700;
  padding-block-end: 8px;
}

.artist-categorie {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.875rem;
}

.play {
  position: relative;
}

.play .playicon {
  position: absolute;
  right: 10px;
  top: 50px;
  padding: 5px;
  background-color: #1db954;
  border-radius: 100%;
  font-size: 14px;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .playicon {
  opacity: 1;
  transform: translateY(-20px);
}

.play .playicon:hover {
  padding: 10px;
  cursor: pointer;
}

#result-artist {
  padding: 20px 40px;
}

/*Footer style*/
footer {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
footer h1 {
  font-size: 20px;
  color: white;
}
footer p {
  color: white;
}
footer button {
  border: none;
  padding: 15px 15px;
  border-radius: 20px;
}
footer button a {
  color: black;
  font-weight: bold;
}
