body {
  background-color: black;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

#sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}
#logo-spotify img {
  width: 80px;
}
#sidebar__navigation ul {
  margin-top: 20px;
  padding: 0 30px 10px 20px;
}
#sidebar__navigation ul li {
  padding: 15px 0;
}
#sidebar__navigation ul li a {
  display: flex;
  text-align: center;
  gap: 10px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}
#library {
  margin-top: 15px;
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
  height: 100vh;
}
#library_links {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 0;
}
#library_links a {
  color: #b3b3b3;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  display: flex;
  text-align: center;
  font-size: 20px;
  gap: 10px;
}
#playlist {
  margin-top: 15px;
  border-radius: 8px;
  background-color: rgb(49, 49, 49);
  width: 80%;
  padding: 20px 25px 20px;
}
#sidebar_span {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: white;
}
#sidebar_p {
  margin-top: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  color: white;
}
#sidebar_btn {
  color: #121212;
  font-family: "DM Sans", sans-serif;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  margin-top: 20px;
  border: none;
  width: 60%;
}
#podcast {
  margin-top: 15px;
  border-radius: 8px;
  background-color: rgb(49, 49, 49);
  width: 80%;
  padding: 20px 25px 20px;
}
#language_btn {
  display: flex;
  gap: 10px;
  text-align: center;
  color: white;
  margin-top: 50px;
  background-color: #121212;
  font-family: "DM Sans", sans-serif;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  border: 0.5px solid #b3b3b3;
}
